.form {
    width: 400px;
    margin:auto;
    background: white;
    border-radius: 3px;
    margin-top: 5em;
    margin-bottom: 6em;
  }
  
  .btn-primary {
    box-shadow: 0; 
    border: none; 
    background-color: #7E6A81;
    border-color: #8A5B91;
    color: #ffffff;
    outline: none;
    -webkit-font-smoothing: subpixel-antialiased;
    transition: all .5s;
    padding: 10px 19px;
    font-size: 17px;
    line-height: 1.471;
    width: 30%;
    text-transform: uppercase;
    margin: auto;
    margin-top: 1.44em;
    margin-bottom: .55em;
    display: inherit;
  }
  
  .btn-primary:hover {
    background-color: rgb(72, 62, 99);
  }
  
  .form-group {
    position: relative;
    opacity: 1;
    transition: .6s;
  }
  
  .input-field-icon {
    color: #bfc9ca;
    font-size: 18px;
    position: absolute;
    right: 10px;
    bottom: 12px;
    transition: .6s;
  }
  
  .form-control {
    transition: opacity .6s;
    opacity: 1;
    border: 0;
    border-bottom: 2px solid #bdc3c7;
    border-radius: 0;
    background: white;
    font-size: 15px;
    line-height: 1.467;
    padding: 4px;
    height: 42px;
    -webkit-appearance: none;
  }
  
  input, textarea {
    transition: all 800ms;
    font-family: "Roboto";
    resize: none;  /* removes the resize handle */
    overflow: auto; /* removes default scrolling bars in IE */
    outline:none; 
    font-family:inherit; 
    box-sizing:border-box;
    width: 100%;
    padding: 0px 4px;
    color: #8A5B91;
    margin-top: 1.25em;
  }
  
  
  .has-error input, .has-error textarea {
    color: #e74c3c;
    border-color: #e74c3c;
  }
  
  .has-error .input-field-icon {
    color: #e74c3c;
  }
  
  .has-success input, .has-success textarea {
    color: rgb(72, 62, 99);
    border-color: rgb(72, 62, 99);
  }
  
  .has-success .input-field-icon {
    color: rgb(72, 62, 99);
  }
  
  
  input:focus, textarea:focus {
    border-color:rgb(72, 62, 99);
    color: rgb(72, 62, 99);
  }
  
  input:focus + .input-field-icon {
    color: rgb(72, 62, 99);
  }
  
  textarea.form-control {
    height: 120px;
    transition: .6s;
  }
  
  textarea.form-control:focus {
    height: 200px;
    border-color: rgb(72, 62, 99);
  }
  
  @media (max-width: 37.5rem) {
    .form {
      width: 75%;
      margin-top: 12%;
    }
  }

  p {
    margin: 0.3125rem;
    padding: 0.3125rem;
  }