html, body {
  max-width: 100%;
  overflow-x: hidden;
  height: 100vh;
  box-sizing: border-box;
}

*,
 *:before,
 *:after {
     box-sizing: inherit;
 }

 body{
  background-color: white;
  margin:2%;
}

#topheader{
  text-align: center;
  background-color: #252525;
  color: #ebebeb;
  padding:10px;
  border-bottom: 5px solid rgb(66, 35, 70);
  margin-bottom: 25px;
}


.heading {
  font-size: 1.2em;
  font-weight: 600;
  /*background-color: #7E6A81;*/
  /*border-bottom: 2px solid #7E6A81;*/
  color:white;
  padding:10px;
  font-family: 'PT Serif', serif;
  text-align: left;
}

.section{
  /*width:70%;*/
  margin-bottom: 20px;
  background-color: #ffffff;
  float: left;
  font-family: "Avenir Next", "Avenir", sans-serif;
  text-align: left;
  margin: 8px 10px;
  padding: 8px 12px;

}
#description{
  margin:0;
  padding: 10px 10px 15px;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

#lorenipsum{
  margin:0;
  padding: 10px 10px 15px;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

article .job{
  color: #707070;
  font-size: 0.9em;
  font-weight: 600;
  margin: 12px 8px 8px 8px;
  padding-bottom: 5px;
  font-family: "Avenir Next", "Avenir", sans-serif;
  text-align: left;
}

article .date{
  color: rgb(66, 35, 70);
  font-size: 0.8em;
  font-family: "Avenir Next", "Avenir", sans-serif;
  float: right;
}

.descriptional{
  color: #707070;
  margin: 8px;
  line-height: 1.3;
  padding-bottom: 10px;
  font-family: "Avenir Next", "Avenir", sans-serif;
  padding-left: 32px;
  text-align: left;

}

#skills article {
  line-height: 1.5;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

#skills{
  /*float:left;
  width:22%;*/
  background-color: #ffffff;
  font-family: "Avenir Next", "Avenir", sans-serif;
  padding-top: 15.5px;
  /*margin: 8px 24px;*/
  padding: 8px 28px;
  text-align: left;
}

.skillsubheader{
  color:#707070;
  font-weight: 600;
  padding-left:10px;
  font-size:1em;
  position: relative;
  top:10px;
  text-align: left;
}

.list{
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 15px;
  padding-top: 15px;
  padding-left: 10px;
  font-family: "Avenir Next", "Avenir", sans-serif;
  text-align: left;
  list-style-type: circle;
  margin: 8px 24px;
  padding: 8px 28px;
}

#education p{
  padding:0;
}

#education .job{
  margin-bottom: 0px;
}

#education .description{
  margin-top:0px;
  margin-bottom: 0px;
}

#education .date{
  margin-top: 5px;
  margin-bottom: 15px;
}
 .button {
  background-color:  rgb(66, 35, 70); 
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid  rgb(66, 35, 70);
}

.button1:hover {
  background-color:  rgb(66, 35, 70);
  color: white;
}
 
 body
 {
   margin: 8px 2px;
   padding: 8px 2px;
   background: #ffffff;
   color: #707070;
   font-family: "Avenir Next", "Avenir", sans-serif;
   text-align: center;
 }

 header-nav 
 {
  background: #ffffff;
  color: #585858;
  font-family: "Avenir Next", "Avenir", sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
 }

 header 
 {
  background: #ffffff;
  color: #585858;
  font-family: "Avenir Next", "Avenir", sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
 }

 .title {
  font-family: 'PT Serif', serif;
  text-align: left;
  margin: 1em;
  font-size: 1.25rem;
 }

 .title-center {
  font-family: 'PT Serif', serif;
  text-align: center;
  margin: 1em;
  font-size: 1.25rem;
 }

 .smallheading 
 {
  background: #ffffff;
  color: #585858;
  font-family: "Avenir Next", "Avenir", sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  border-bottom: 2px solid  rgb(66, 35, 70);
 }

/*600px*/
@media screen and (min-width: 37.5em) {
  .section {
    width:95%;
    margin-bottom: 20px;
    background-color: #ffffff;
    float: left;
    font-family: "Avenir Next", "Avenir", sans-serif;
    text-align: left;
    margin: 8px 6px;
    padding: 8px 12px;
 }

 #skills{
  float:left;
  width:95%;
  background-color: #ffffff;
  font-family: "Avenir Next", "Avenir", sans-serif;
  padding-top: 15.5px;
  margin: 8px 24px;
  padding: 8px 28px;
  text-align: left;
} 
 
/* SWAP NAV MENUS 640px a.k.a 40em */
 
@media screen and (min-width: 40em) {
.section {
    width:95%;
    margin-bottom: 20px;
    background-color: #ffffff;
    float: left;
    font-family: "Avenir Next", "Avenir", sans-serif;
    text-align: left;
    margin: 10px 10px;
    padding: 12px 12px;
 }

 #skills{
  float:left;
  width:95%;
  background-color: #ffffff;
  font-family: "Avenir Next", "Avenir", sans-serif;
  padding-top: 15.5px;
  margin: 8px 24px;
  margin-right: 8px;
  padding: 8px 28px;
  text-align: left;
}

  /* SWAP NAV MENUS 800px a.k.a 40em */

  @media screen and (min-width: 50em) {
    .section {
      width:62%;
      margin-bottom: 20px;
      background-color: #ffffff;
      float: left;
      font-family: "Avenir Next", "Avenir", sans-serif;
      text-align: left;
      margin: 8px 10px;
      padding: 8px 12px;
   }

   #skills{
    float:left;
    width:27%;
    background-color: #ffffff;
    font-family: "Avenir Next", "Avenir", sans-serif;
    padding-top: 15.5px;
    margin: 8px 24px;
    padding: 8px 28px;
    text-align: left;
  }

 
    /* SWAP NAV MENUS 1000px a.k.a 62em */
    @media screen and (min-width: 62em) {
      .section {
        width:65%;
        margin-bottom: 20px;
        background-color: #ffffff;
        float: left;
        font-family: "Avenir Next", "Avenir", sans-serif;
        text-align: left;
        margin: 8px 10px;
        padding: 8px 12px;
     }

     #skills{
      float:left;
      width:25%;
      background-color: #ffffff;
      font-family: "Avenir Next", "Avenir", sans-serif;
      padding-top: 15.5px;
      margin: 8px 24px;
      padding: 8px 28px;
      text-align: left;
    }


/* SWAP NAV MENUS 1200px a.k.a 75em */
@media screen and (min-width: 75em) {
   .section {
  width:70%;
  margin-bottom: 20px;
  background-color: #ffffff;
  float: left;
  font-family: "Avenir Next", "Avenir", sans-serif;
  text-align: left;
  margin: 8px 10px;
  padding: 8px 12px;
}

#skills{
float:left;
width:22%;
background-color: #ffffff;
font-family: "Avenir Next", "Avenir", sans-serif;
padding-top: 15.5px;
margin: 8px 24px;
padding: 8px 28px;
text-align: left;
}
}