html, body {
  max-width: 100%;
  overflow-x: hidden;
  height: 100vh;
  box-sizing: border-box;
}

*,
 *:before,
 *:after {
     box-sizing: inherit;
 }

.bar {
  background-color:rgb(66, 35, 70); /*MAIN THEME COLOR*/
  width: 100%;
  height: 2.625rem;
  margin: 0;
}
 
 .button {
  background-color: rgb(66, 35, 70); 
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid rgb(66, 35, 70);
}

.button1:hover {
  background-color: rgb(66, 35, 70);
  color: white;
}

 
 .title {
  font-family: 'PT Serif', serif;
 }
 
 body
 {
   margin: 0;
   padding: 0;
   background: #ffffff;
   color: #707070;
   font-family: "Avenir Next", "Avenir", sans-serif;
   text-align: center;
 }

 header 
 {
  background: #ffffff;
  color: #585858;
  font-family: "Sacramento", sans-serif;
  font-size: 1.5rem;
 }
 
 #menuToggle
 {
   display: block;
   position: relative;
   top: 20px;
   left: 20px;
   
   z-index: 1;
   
   -webkit-user-select: none;
   user-select: none;
 }
 
 #menuToggle a
 {
   text-decoration: none;
   color: #585858;
   
   transition: color 0.3s ease;
 }
 
 #menuToggle a:hover
 {
   color: rgb(66, 35, 70);
 }
 
 
 #menuToggle input
 {
   display: block;
   width: 40px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px;
   
   cursor: pointer;
   
   opacity: 0; /* hide this */
   z-index: 2; /* and place it over the hamburger */
   
   -webkit-touch-callout: none;
 }
 
 /*
  * Just a quick hamburger
  */
 #menuToggle span
 {
   display: block;
   width: 33px;
   height: 0.25rem;
   margin-bottom: 5px;
   position: relative;
   
   background: #3d3d3d;
   border-radius: 0.1875rem;
   
   z-index: 1;
   
   transform-origin: 0.25rem 0;
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }
 
 #menuToggle span:first-child
 {
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }
 
 /* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-0.125rem, -0.0625rem);
   background: #eeeeee;
 }
 
 /*
  * But let's hide the middle one.
  */
 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 
 /*
  * Ohyeah and the last one should go the other direction
  */
 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   transform: rotate(-45deg) translate(0, -0.0625rem);
 }
 
 /*
  * Make this absolute positioned
  * at the top left of the screen
  */
 #menu
 {
   position: absolute;
   width: 18.75rem;
   margin: -6.25rem 0 0 -3.125rem;
   padding: 3.125rem;
   padding-top: 7.8125rem;
   
   background: rgb(66, 35, 70);
   box-shadow: 5px 6px 8px 1px; 
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   /* to stop flickering of text in safari */
   
   transform-origin: 0% 0%;
   transform: translate(-100%, 0);
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 
 #menu li
 {
   padding: 0.625rem 0;
   font-size: 1.375rem;
   color: #eeeeee;
 }
 
 /*
  * And let's slide it in from the left
  */
 #menuToggle input:checked ~ ul
 {
   transform: none;
 }


 .frame-wrapper {
  display: inline-block;
  position: relative;
  margin: 1.25rem;
}

.frame-wrapper::before {
  content: '';
  display: block;
  z-index: -1;
  position: absolute;
  bottom: 4%;
  left: 4%;
  border: 0.25rem solid rgb(66, 35, 70);
  height: 100%;
  width: 100%;
}

figcaption {
  margin: -0.625rem;
}
.description {
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 20.5rem;
  padding: 0rem 1rem 1rem;
}

.paragraph {
  text-align: left;
  font-size: 1.15rem;
  font-weight: 300;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 20.5rem;
  padding: 0rem;
}

@media (min-width:600px) {
.paragraph {
  font-size: 1.25rem;
}
}

@media (min-width:800px) {
  .paragraph {
    font-size: 1.25rem;
    display: flex;
    flex-wrap: wrap;
  }
  .title {
    font-size: 1.25rem;
  }
  }

  #container {
    width: 960px; margin: 0 auto;
  }
  
  #content {
	padding: 2px 69px 50px 69px; overflow: hidden;
}
	#content h2 {
		font: 30px Avenir, Sans-Serif; letter-spacing: 2px; margin: 0 0 20px 0;
	}

	#content h3 {
		font: 26px Roboto, Sans-Serif; letter-spacing: 2px; margin: 0 0 20px 0;
	}
	
	#content p {
		margin: 0 0 30px 0;
	}
	
	#content a {
		color: rgb(66, 35, 70); text-decoration: none;
	}
		#content a:hover {
			color: rgb(66, 35, 70);
		}
	
#content .portfolio-item {
    width: 182px; padding:6px; background: rgb(255, 255, 255); text-align: center;
    border-color: rgb(66, 35, 70);
  float: left; margin: 0 7px 14px 7px;
}
	#content .portfolio-item p.btn {
		margin: 0;
	}
	#content .portfolio-item p.btn a {
		display: block; width: 183px; height: 46px; padding: 7px 0 0 0;
		font-weight: bold; text-align: center; text-transform: uppercase;
		text-decoration: none;
    }
    
    .title {
        font-family: 'PT Serif', serif;
       }

  .small-heading {
    font-family: "Avenir Next", "Avenir", sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
  }